# PostgreSQL 설정
POSTGRES_SERVER=db
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=sound_project
POSTGRES_PORT=5432

# AWS S3 설정
AWS_ACCESS_KEY_ID=your_access_key_id
AWS_SECRET_ACCESS_KEY=your_secret_access_key
AWS_REGION=ap-northeast-2
S3_BUCKET_NAME=your_bucket_name

# CORS 설정 (선택사항)
# BACKEND_CORS_ORIGINS=["http://localhost:3000"]

